body {
}

.App-header {
  background-color: #3c92cf;
  height: 100px;
  padding-top: 20px;
  padding-left: 20px;
  color: #ffba00;
}

.App-ticker {
  font-size: medium;
}

.players {
  margin: 20px;
  text-align: center;
}

.player {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.table {
  border: 1px solid #333333;
}

th {
  background-color: coral;
}

td {
  vertical-align: top;
}

tr {
  background-color: #EAF2F5;
}

li { background: #3c92cf; }
li:nth-child(odd) { background: #ffc520; }

li:hover { background: #aaffaa; }

pre { background-color: #EAF2F5; }